# SF Salaries Exercise

** Import pandas as pd.**

In [1]:
import pandas as pd # Importing The Pandas Library
import numpy as np

** Read Salaries.csv as a dataframe called sal.**

In [2]:
df=pd.read_csv("Salaries.csv") # Read The Salaries.Csv File

** Check the head of the DataFrame. **

In [10]:
df.head() # return the 5 head of the data

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [6]:
df.info()  # return basic information about the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [7]:
df["BasePay"].mean() # indexing the coloumn BasePay Of the data then by using method mean find the average

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [8]:
df["OvertimePay"].max() # indexing the coloumn OvertimePay Of the data then by using method mean find the maximum value

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [21]:
df[df["EmployeeName"=="JOSEPH DRISCOLL"]["JobTitle"]] # indexing the column of employee name where the name is JOSEPH DRISCOLL and indexing the job title of the same name

SyntaxError: unexpected EOF while parsing (3690641008.py, line 1)

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [13]:
df[df["EmployeeName"=="JOSEPH DRISCOLL"],["TotalPayBenefits"]] # indexing the column of employee name where the name is JOSEPH DRISCOLL and indexing the job title of the same name

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [28]:
x=df["TotalPayBenefits"].max() # # indexing the column TotalPayBenefits and find the maximum value 
df[df['TotalPayBenefits'] == x] # find the name of the highest totalpaybenefits when the totalpaybenefits ='x'

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [29]:
y=df["TotalPayBenefits"].min() # # indexing the column TotalPayBenefits and find the min value 
df[df['TotalPayBenefits'] == y] # find the name of the lowest totalpaybenefits when the totalpaybenefits ='y'

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [35]:
year_period=df.groupby("Year") # Grouping The Data by Column 'Year'

year_period["BasePay"].mean() # Indexing the Grouping by BasePay Column then find the average of the BasePay in this period

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [50]:
unique_data=df["JobTitle"].unique() # indexing the JobTitle Column then use the method unique to find the non repeated data 

unique_data.value_counts().head() # Counts the Unique Value and Use Method head

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'

** What are the top 5 most common jobs? **

In [54]:
df["JobTitle"].value_counts().head(5) # indexing the column  JobTitle then Counts the values of the Job Titles and use Head Method to find the first 5 rows of the data

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [87]:
m=df[df["Year"]==2013] # indexing the coloumn Year when the Year Equal 2013

m_1=m.groupby("JobTitle") # Group The Data By the Job Title

l=m_1.count()  # Count Values 


l["Id"].value_counts().head(1) # Count The Values Of The Coloumn Id When Id =1 ( First Row)

1    202
Name: Id, dtype: int64

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [93]:
# Define A function to find the word Chief in the Column
def find_chief(job_title):
    for i in job_title :
        if "Chief" in job_title.split(): # if the word "Chief" in The Splitting of the Job Title ( return an array)
            return True # Return True
        else :
            return False 
    
df["JobTitle"].apply(find_chief(job_title)).count()    # indexing the column 'JobTitle' applying the Function and count it when the return of the function is True

NameError: name 'job_title' is not defined

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [4]:
df["lenjob"]= df["JobTitle"].apply(len) # make new Coloumn and Make Equal to the Length of every string in coloumn of jobtitle

x=df[["lenjob","TotalPayBenefits"]]   # indexing the columns of the lenjob and the totalpaybenefits and assign it to x 

x.corr() # find the Coolration for the length of jobtitle and the salary

                    lenjob  TotalPayBenefits
lenjob            1.000000         -0.036878
TotalPayBenefits -0.036878          1.000000

# Great Job!