In [1]:
name ="zeiad"
age = 21
print (f"My name is {name} and my age is {age}")

My name is zeiad and my age is 21

In [2]:
print ("My name is {} and my age is {}".format(name,age))

My name is zeiad and my age is 21

In [3]:
print("My name is \"ِAhmed\"")

My name is "ِAhmed"

In [4]:
print("My name is \\Ahmed")

My name is \Ahmed

In [6]:
print("My name is \nAhmed")

My name is
Ahmed

In [7]:
print("My name is \bAhmed")

My name is Ahmed

In [8]:
print("My name is \tAhmed")

My name is 	Ahmed

In [9]:
print("-"*50)

--------------------------------------------------

# Operators

In [10]:
3/7

0.42857142857142855

In [11]:
3//7 #بيطلعلك اقرب رقم صحيح

0

In [12]:
7%3 #باقي القسمه

1

In [13]:
2**2

4

In [14]:
2^2

0

In [15]:
5>3

True

In [16]:
4<6

True

In [17]:
3

3

In [18]:
3<1

False

In [19]:
4<=6

True

In [20]:
3!=6

True

In [21]:
temp_sensor=29

In [25]:
if temp_sensor > 23 :
    print ("It's Hot")
else : 
    print ("It's Cool")

It's Cool

In [26]:
a =2 
b=3

In [27]:
a is b

False

## Finding The Gravtational Force

In [32]:
# GMm/r^2

G=6.67*10**-11 # Gravity 

M=6.0*10**24 # Mass of Earth 

m=7.34*10**22 # Mass Of The Moon 

r=3.84*10**8 # Radius

In [33]:
F = (G*M*m)/r**2 # Gravational Force

In [34]:
print(F)

1.9920979817708333e+20

# Lists

In [36]:
x=[1,3,54,3,123]

In [37]:
type(x)

list

In [40]:
x.append("Zeiad")

In [41]:
print(x)

[1, 3, 54, 3, 123, 'Zeiad']

In [42]:
x[-1]

'Zeiad'

In [43]:
x[-1][2]

'i'

In [44]:
x.append([1,235,231])

In [45]:
print(x)

[1, 3, 54, 3, 123, 'Zeiad', [1, 235, 231]]

In [46]:
x[-1][1]

235

In [47]:
len(x[-1])

3

In [49]:
# Methods 

x.append(3)

In [50]:
x

[1, 3, 54, 3, 123, 'Zeiad', [1, 235, 231], 3]

In [51]:
x.insert(3,"hamada")

In [52]:
x

[1, 3, 54, 'hamada', 3, 123, 'Zeiad', [1, 235, 231], 3]

In [53]:
x.remove(3)

In [54]:
x

[1, 54, 'hamada', 3, 123, 'Zeiad', [1, 235, 231], 3]

In [61]:
x.pop()

IndexError: pop from empty list

In [56]:
v=x.copy()

In [57]:
v

[1, 54, 'hamada', 3, 123, 'Zeiad', [1, 235, 231]]

In [58]:
x.clear()

In [59]:
x

[]

# Tuples

In [62]:
i=(2,123,12)
len(i)

3

In [63]:
type(i)

tuple

In [64]:
j=("MEMO",12,1,"MOHAMED")

In [65]:
j=list(j)

In [66]:
j

['MEMO', 12, 1, 'MOHAMED']

In [67]:
j.append("MEZO")

In [68]:
j

['MEMO', 12, 1, 'MOHAMED', 'MEZO']

In [69]:
j=tuple(j)

In [70]:
j

('MEMO', 12, 1, 'MOHAMED', 'MEZO')

In [71]:
j.count(12)

1

In [75]:
j.index(12)

1

In [73]:
j.index(1)

2

# Sets

In [76]:
j=j.set()

AttributeError: 'tuple' object has no attribute 'set'

In [77]:
y=set()

In [78]:
y.add(2)

In [79]:
y

{2}

In [80]:
y.add(7)

In [81]:
y=list(y)

In [82]:
y.append(2)
y.append(2)
y.append(2)
y.append(2)
y

[2, 7, 2, 2, 2, 2]

In [83]:
n=set(y)

In [84]:
n

{2, 7}

In [85]:
n.add(3)

In [86]:
n

{2, 3, 7}

In [87]:
n.add("MOhamed")

In [88]:
n

{2, 3, 7, 'MOhamed'}

# Dictionaries

In [94]:
b={"Name":("Zeiad","Mohamed","Sayed"),
   "Age":[21,51,17]
  }

In [90]:
type(b)

dict

In [95]:
b["Name"]

('Zeiad', 'Mohamed', 'Sayed')

In [96]:
b["Age"]

[21, 51, 17]

In [100]:
b["Name"][1].upper()

'MOHAMED'

In [101]:
b["Age"].append(221)

In [102]:
b["Age"]

[21, 51, 17, 221]

In [103]:
b.keys()

dict_keys(['Name', 'Age'])

In [104]:
b.values()

dict_values([('Zeiad', 'Mohamed', 'Sayed'), [21, 51, 17, 221]])

In [106]:
b.items() #ليه ال Output List of Tuples

dict_items([('Name', ('Zeiad', 'Mohamed', 'Sayed')), ('Age', [21, 51, 17, 221])])

# Quiz Problem Solving

In [107]:
d={"k1":[1,2,{"k2":["this is tricky",{"tough":[1,2,["hello"]]}]}]}

In [115]:
d["k1"]

[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]

In [117]:
d["k1"][2]

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

In [118]:
d["k1"][2]["k2"]

['this is tricky', {'tough': [1, 2, ['hello']]}]

In [119]:
d["k1"][2]["k2"][1]

{'tough': [1, 2, ['hello']]}

In [120]:
d["k1"][2]["k2"][1]["tough"]

[1, 2, ['hello']]

In [122]:
d["k1"][2]["k2"][1]["tough"][2]

['hello']

In [123]:
d["k1"][2]["k2"][1]["tough"][2][-1]

'hello'

In [124]:
d["k1"][2]["k2"][1]["tough"][2][-1][-1]

'o'

# Task

In [1]:
a,b,c,d=input("Please Enter Number ").split(",")

Please Enter Number 2,3,4,5

In [13]:
e=[a,b,c,d]

In [8]:
e

['2', '3', '4', '5']

In [10]:
tuple(e)

('2', '3', '4', '5')

# If Statments

In [15]:
x =5
if x > 5 : 
    print("Not Okey")
elif x < 5 :
    print ("Okey")
else : 
    print("Error")

Error

In [16]:
y=8
if x >4:
    if (y>5):
        print("Okey")

Okey

In [17]:
if x>4 and y>5:
    print("Ok")

Ok

# Task

In [35]:
h=int(input("Please Enter Your Grade "))

Please Enter Your Grade 53

In [37]:
if 85<= h <=100 :
    print ("Your Grade is A")
elif 75<= h < 85:
    print ("Your Grade is B")  
elif 65<= h < 75:
    print ("Your Grade is C")
elif 50<= h < 65:
    print ("Your Grade is D")
elif h < 50 : 
    print ("Your Grade is F")
else :
    print("Wrong Grade")

Your Grade is D

# Loops

   ##    For Loops

In [40]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [41]:
for number in list1 :
    print(number)

1
2
3
4
5
6
7
8
9
10

In [42]:
for num in list1 : 
    if num % 2 == 0:
        print(f"Even is {num}")
    else : 
        print(f"Odd is {num}")

Odd is 1
Even is 2
Odd is 3
Even is 4
Odd is 5
Even is 6
Odd is 7
Even is 8
Odd is 9
Even is 10

In [52]:

list_sum=1
for num in list1:
    list_sum=list_sum*num 
    print (f"The Multiplicaiton in This Iteration is {list_sum}")
print("*"*50)    
print(f"The Multiplication of The All Numbers is  {list_sum}")

The Multiplicaiton in This Iteration is 1
The Multiplicaiton in This Iteration is 2
The Multiplicaiton in This Iteration is 6
The Multiplicaiton in This Iteration is 24
The Multiplicaiton in This Iteration is 120
The Multiplicaiton in This Iteration is 720
The Multiplicaiton in This Iteration is 5040
The Multiplicaiton in This Iteration is 40320
The Multiplicaiton in This Iteration is 362880
The Multiplicaiton in This Iteration is 3628800
**************************************************
The Multiplication of The All Numbers is  3628800

In [46]:
for letter in "This is a string":
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g

In [53]:
tup=(1,2,3,4,5)

for t in tup: 
    print (t)

1
2
3
4
5

In [54]:
list2=[(1,2),(3,4),(5,6)]

In [55]:
for element in list2:
    print(element)

(1, 2)
(3, 4)
(5, 6)

In [56]:
for (t1,t2) in list2:
    print(t1)

1
3
5

In [57]:
x=[[1,2,3],[4,5,6],[7,8,9]]

x=[num[0] for num in x] #list Comprehension
x

[1, 4, 7]

In [58]:
d={
    "k1":1,
    "k2":2,
    "k3":3
}

In [59]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [64]:
for Key,Value in d.items():
    print (f"This is key ==> {Key}")
    print (f"This is value ==> {Value}")

This is key ==> k1
This is value ==> 1
This is key ==> k2
This is value ==> 2
This is key ==> k3
This is value ==> 3

In [65]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [66]:
x=list(range(0,91,2))

In [67]:
x

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90]

# Quiz

In [70]:
for i in list(range(1,101)):
    if i % 3 ==0 and i % 5 ==0  :
        print(f"Number is {i} => FizzBuzz")
    elif i % 3 ==0 :
        print(f"Number is {i} => Fizz")
    elif i % 5 ==0 :
        print(f"Number is {i} => Buzz") 
    
    else : 
        print(f"Number is {i} => Not Identified ")

Number is 1 => Not Identified
Number is 2 => Not Identified
Number is 3 => Fizz
Number is 4 => Not Identified
Number is 5 => Buzz
Number is 6 => Fizz
Number is 7 => Not Identified
Number is 8 => Not Identified
Number is 9 => Fizz
Number is 10 => Buzz
Number is 11 => Not Identified
Number is 12 => Fizz
Number is 13 => Not Identified
Number is 14 => Not Identified
Number is 15 => FizzBuzz
Number is 16 => Not Identified
Number is 17 => Not Identified
Number is 18 => Fizz
Number is 19 => Not Identified
Number is 20 => Buzz
Number is 21 => Fizz
Number is 22 => Not Identified
Number is 23 => Not Identified
Number is 24 => Fizz
Number is 25 => Buzz
Number is 26 => Not Identified
Number is 27 => Fizz
Number is 28 => Not Identified
Number is 29 => Not Identified
Number is 30 => FizzBuzz
Number is 31 => Not Identified
Number is 32 => Not Identified
Number is 33 => Fizz
Number is 34 => Not Identified
Number is 35 => Buzz
Number is 36 => Fizz
Number is 37 => Not Identified
Number is 38 => Not Identified
Number is 39 => Fizz
Number is 40 => Buzz
Number is 41 => Not Identified
Number is 42 => Fizz
Number is 43 => Not Identified
Number is 44 => Not Identified
Number is 45 => FizzBuzz
Number is 46 => Not Identified
Number is 47 => Not Identified
Number is 48 => Fizz
Number is 49 => Not Identified
Number is 50 => Buzz
Number is 51 => Fizz
Number is 52 => Not Identified
Number is 53 => Not Identified
Number is 54 => Fizz
Number is 55 => Buzz
Number is 56 => Not Identified
Number is 57 => Fizz
Number is 58 => Not Identified
Number is 59 => Not Identified
Number is 60 => FizzBuzz
Number is 61 => Not Identified
Number is 62 => Not Identified
Number is 63 => Fizz
Number is 64 => Not Identified
Number is 65 => Buzz
Number is 66 => Fizz
Number is 67 => Not Identified
Number is 68 => Not Identified
Number is 69 => Fizz
Number is 70 => Buzz
Number is 71 => Not Identified
Number is 72 => Fizz
Number is 73 => Not Identified
Number is 74 => Not Identified
Number is 75 => FizzBuzz
Number is 76 => Not Identified
Number is 77 => Not Identified
Number is 78 => Fizz
Number is 79 => Not Identified
Number is 80 => Buzz
Number is 81 => Fizz
Number is 82 => Not Identified
Number is 83 => Not Identified
Number is 84 => Fizz
Number is 85 => Buzz
Number is 86 => Not Identified
Number is 87 => Fizz
Number is 88 => Not Identified
Number is 89 => Not Identified
Number is 90 => FizzBuzz
Number is 91 => Not Identified
Number is 92 => Not Identified
Number is 93 => Fizz
Number is 94 => Not Identified
Number is 95 => Buzz
Number is 96 => Fizz
Number is 97 => Not Identified
Number is 98 => Not Identified
Number is 99 => Fizz
Number is 100 => Buzz