# Ù‹While Loop

In [1]:
x=0 

while x<=10:
    print ("X is currently:",x)
    x+=1 #x=x+1

X is currently: 0
X is currently: 1
X is currently: 2
X is currently: 3
X is currently: 4
X is currently: 5
X is currently: 6
X is currently: 7
X is currently: 8
X is currently: 9
X is currently: 10

In [2]:
x=0 

while x<=10:
    print ("X is currently:",x)
    print ("X is still less than 10 , adding 1 to x")
    x+=1 #x=x+1
    
else: # when statement is false the else statement excute 
    print("All Done")

X is currently: 0
X is still less than 10 , adding 1 to x
X is currently: 1
X is still less than 10 , adding 1 to x
X is currently: 2
X is still less than 10 , adding 1 to x
X is currently: 3
X is still less than 10 , adding 1 to x
X is currently: 4
X is still less than 10 , adding 1 to x
X is currently: 5
X is still less than 10 , adding 1 to x
X is currently: 6
X is still less than 10 , adding 1 to x
X is currently: 7
X is still less than 10 , adding 1 to x
X is currently: 8
X is still less than 10 , adding 1 to x
X is currently: 9
X is still less than 10 , adding 1 to x
X is currently: 10
X is still less than 10 , adding 1 to x
All Done

In [3]:
myNumbers=[1,2,3,5,7,10,13,14,15,19]

# Continue 
for number in myNumbers:
    if number==5:
        continue
    print(number)

1
2
3
7
10
13
14
15
19

# Quiz

In [3]:
x=input("Please Enter Word ")
g=x.split()
e=0
if g[0][0]==g[1][0]:
    print("Iam Happy")
else :
    print("Iam Not Happy")

Please Enter Word
  @media print {
    .ms-editor-squiggles-container {
      display:none !important;
    }
  }
  .ms-editor-squiggles-container {
    all: initial;
  }mohamed mahmoud
Iam Happy

# Function

In [7]:
def say_hello():
    print(f"Hello")

In [8]:
say_hello()

Hello

In [9]:
def greeting(name1,name2):
    print(f"Hello {name1} and also Hello {name2}")

In [11]:
x=input("Please Enter name 1 ")
y=input("Please Enter Name 2 ")

greeting(x,y)

Please Enter name 1 Zeiad
Please Enter Name 2 Mohamed
Hello Zeiad and also Hello Mohamed

In [12]:
def zeiad(num1,num2):
    return num1+num2

In [16]:
x=int(input("Please Enter First Number "))
y=int(input("Please Enter Second Number "))

result=zeiad(x,y)

zeiad(x,y)

Please Enter First Number 34
Please Enter Second Number 23

57

# Task

In [22]:

def Plus_Calculator(num1,num2,op):
    if op == '+':
        return(num1+num2)
    
def Sub_Calculator(num1,num2,op):
    if op == '-':
        return(num1-num2)
     
def Multi_Calculator(num1,num2,op):
    if op == '*':
        return(num1*num2) 
    
def Div_Calculator(num1,num2,op):
    if op == '/':
        return(num1/num2)

In [ ]:
number1=int(input("Please Enter First Number "))
number2=int(input("Please Enter Second Number "))
choice=input("Please Enter Your Choice \t 1- For Add \t 2- For Subtract \t 3- For Multi \t 4- For Divation ")


if choice == "1" :
    print(f"Addation of the the Numbers is {Add_Calculator(num1,num2,op)}" )

# Map Functuion

In [1]:
def square (num):
    return num**2

In [3]:
square(2)

4

In [4]:
myNums=[1,2,3,4,5]

In [5]:
map(square,myNums)

In [7]:
list(map(square,myNums))

[1, 4, 9, 16, 25]

In [8]:
def splicer (ahmed):
    if len(ahmed) % 2 == 0:
        return "Even"
    else: 
        return ahmed[0]

In [9]:
splicer('ahmed')

'a'

In [10]:
mynames=["John","Cindy","Sarah","Kelly","Mike"]

In [11]:
list(map(splicer,mynames))

['Even', 'C', 'S', 'K', 'Even']

In [13]:
def check_even (num):
    return num % 2==0

In [14]:
check_even(5)

False

In [15]:
nums=[0,1,2,3,4,5,6,7,9,10]

In [16]:
filter(check_even,nums)

In [17]:
list(filter(check_even,nums))

[0, 2, 4, 6, 10]

In [19]:
def morethan(num):
    return num>2

In [20]:
morethan(2)

False

In [21]:
list(filter(morethan,nums))

[3, 4, 5, 6, 7, 9, 10]

# Lambda Function

In [22]:
x=lambda num : num**2

In [23]:
print(x(2))

4